* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.rgb-border {
  background: linear-gradient(155deg, orange 12%, yellow 24%, green 36%, aqua 48%, blue 60%, hotpink 72%, red 84%, orange 96%);
  width: 11em;
  height: 4em;
  margin: 1em;
  position: relative;
  animation: gradient 55s linear infinite;
}

.rgb-border::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(4px);
}

.rgb-border .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(147deg, #000000 0%, #1f1f1f 74%);
  width: 9.8em;
  height: 3.3em;
  text-align: center;
  text-decoration: none;
  padding: 1.1em;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1vh;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20em 30em;
  }
  100% {
    background-position: 0.1em 0.1em;
  }
}